In [25]:

import pandas as pd

In [26]:
df = pd.read_csv("D:\Anushruti_Data\Anushruti\College Materials\Bhartiya Vidyapeeth's College Of Engineering For womens (College Materials)\Third Year\semester-6\DSBDA\Mini_project\spotify_millsongdata.csv")

In [27]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [28]:

df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [29]:

df.shape

(57650, 4)

In [30]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [31]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [32]:
df.head(10)

,artist,song,text
0,Janis Joplin,Gutra's Garden,Gutra \r\nNow now now now now now now now now...
1,Arrogant Worms,Great To Be A Nerd,"It's great to be a nerd, It's great to be a ne..."
2,Drake,Enough Said,"[Aaliyah] \r\nCause I, ooooh \r\nYeah yeah y..."
3,Eurythmics,Put The Blame On Me,Take me to a dark room \r\nAnd hug me to bits...
4,Pink Floyd,A Pillow Of Winds,A cloud of eiderdown \r\nDraws around me \r\...
5,Avril Lavigne,Dammit (Growing Up),It's alright to tell me \r\nWhat you think ab...
6,Pearl Jam,History Never Repeats,History never repeats \r\nI tell myself befor...
7,Matt Redman,Hear The Music Of My Heart,Lord hear the music of my heart \r\nHear all ...
8,Venom,Witching Hour,"Come hear the moon is calling, \r\nThe witchi..."
9,Stevie Wonder,I'm New,Try to envision you as the oldest living someo...

In [33]:
df['text'][0]

"Gutra  \r\nNow now now now now now now now now now now now...  \r\nGutra  \r\nNow now now now now now now now now now now now...  \r\n  \r\nOh gutra, baby this is the end  \r\nOh gutra, baby this is the end  \r\nWell I'm through with that girl, 'cause she flipped out on zen.  \r\n  \r\nGutra...  \r\n  \r\nGoin' back to where I want to be,  \r\nI'm goin' back to where I want to be,  \r\nWell I'm back to my home, back in memphis, tennessee.  \r\n  \r\nGo on back back back back baby back to where I want to  \r\nGo on back back back back back back baby back to where I want to be  \r\nBack into my home, back in memphis, tennessee.  \r\n  \r\nBack back back back baby, back where I can go  \r\nI'm goin' back back back back baby, back where I wanna go  \r\nBack into my home, back in owens, oklahoma.  \r\n  \r\nGutra...  \r\nNow now now now now now now now now now now now...\r\n\r\n"

In [34]:

df.shape

(5000, 3)

In [35]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [36]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [37]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [39]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [40]:
similarity[0]

array([1.        , 0.00225179, 0.0126854 , ..., 0.01028455, 0.03138774,
       0.01269416])

In [41]:
df[df['song'] == 'Crying Over You'].index[0]

,artist,song,text
2028,UB40,Crying Over You,cri over you in the morn cri over you in the e...

In [42]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [43]:
recommendation('Crying Over You')

['Crying',
 'Crying',
 'Cry To Heaven',
 "Don't Cry",
 'Cry Me A River',
 'Crying',
 'I Never Cry',
 'Crying',
 'When You Cry',
 'One Last Cry',
 'Johnny Was',
 'Devil Cried',
 "It's Too Soon To Know",
 'House On The Ocean',
 "Don't Be That Way",
 'Sonny Cried',
 'For Crying Out Loud',
 "Girls Don't Cry",
 'I Let The Music Speak',
 'Angels Cry']

In [44]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))